<% provide :title, t("static_pages.home") %>
<div class="center jumbotron">
  <h1><%= t ".title" %></h1>
  <h2>
    <%= raw t(".into_html",
      tut: link_to(t(".rails_tutorial"), "http://www.railstutorial.org/"))
    %>
  </h2>
  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
